<h1>Login</h1>
<%= form_tag '/login' do %>
   <%= label_tag :username%>
   <%= text_field_tag :username %>
   <%= label_tag :password%>
   <%= password_field_tag :password%>
   <%= label_tag :otp_attempt, "2FA code"%>
   <%= text_field_tag :otp_attempt, nil, autocomplete: 'off'%>
   <%= submit_tag "Login"%>
<%end%>