<h1>Welcome</h1>

<% if logged_in? %>
    <p>You are Logged In, <%= current_user.username %></p>

    <%= link_to "Logout", logout_path %>
<% else %>
    <%= link_to "Login", login_path %>
<%end%>

<% if is_admin? %>
    <%= link_to "Users", users_path %>
<% end %>

<% if logged_in? %>
    <%= link_to "Trucks", trucks_path %>

    <% content_for :head do %>
        <%= javascript_include_tag "map", "data-turbolinks-track": "reload" %>
    <% end %>

    <div id="mapid"></div>
    <script>
        var trucksWithInfo = JSON.parse('<%= raw @json %>');
    </script>
<% end %>
