<h1>Welcome</h1>

<% if logged_in? %>
    <p>You are Logged In, <%= current_user.username %></p>

    <% content_for :head do %>
        <%= javascript_include_tag "map", "data-turbolinks-track": "reload" %>
        <%= javascript_include_tag "visual_alert", "data-turbolinks-track": "reload" %>
    <% end %>
    <div class="mapNotif">
        <div id="mapid"></div>

        <div id="stolen_trucks">
            <h3>Stolen Trucks</h3>
            <% @trucks.each do |truck| %>
                <% if truck.truck_infos.last and truck.truck_infos.last.is_stolen == true %>
                    <div class="truck" data-truck_hex="<%= truck.hex_identifier %>">
                        <p>
                            Nom du camion : <%= truck.name %><br>
                            Niveau de carburant : <%= truck.truck_infos.last.fuel_level %>%<br>
                            Pour plus d'inforation, cliquer <%= link_to "ici", truck %>
                        </p>
                    </div>
                <% end %>
            <% end %>
        </div>
    </div>

    <script>
        var trucksWithInfo = JSON.parse('<%= raw @json %>');
    </script>
<%end%>
