<h1>Edit User</h1>

<%= form_for( @user , url: user_path ) do |f| %>
    <div class="Userflex">
        <div class="Userleft">
            <%= f.hidden_field :otp_secret %>
            <p><%= @user.username %></p>
            <% if current_user.id == @user.id %>
                <%= f.label :password, "New password" %>
                <%= f.password_field :password %>
                <%= f.label :password_confirmation, "New password confirmation" %>
                <%= f.password_field :password_confirmation %>
            <% end %>
            <% if is_admin? %>
                <%= f.label :admin_permissions, "admin permissions" %>
                <%= f.check_box :admin_permissions %>
            <% end %>
        </div>
        <% if logged_in? and current_user == @user and !@user.initialized %>
            <div class="Userright">
                <h3>2 Factor Authentication (Google Authenticator ou Authy):</h3>
                <%= @qr.html_safe %>
                <%= label_tag  :otp_attempt, "Verify (enter a one-time password)" %>
                <%= text_field_tag :otp_attempt %>
            </div>
        <% end %>
    </div>
    <%= f.submit "Save" %>
<% end %>