<h1>Liste des camions</h1>

<%= link_to "Home Page", root_path %>
<%= link_to "Add Truck", new_truck_path %> 

<table>
  <thead>
    <tr>
      <th>Identifier</th>
      <th>Name</th>
      <th>Description</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @trucks.each do |truck| %>
      <tr>
        <td><%= truck.hex_identifier %></td>
        <td><%= truck.name %></td>
        <td><%= truck.description %></td>
        <td><%= link_to 'Show', truck %></td> 
        <td><%= link_to 'Edit', edit_truck_path(truck) %></td>
        <td><%= link_to 'Destroy', truck, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>