<h1><%= @truck.name %></h1>

<p>Identifiant : <%= @truck.hex_identifier %></p>
<%= @qr.html_safe %>
<p>Description : <%= @truck.description %></p>

<%= link_to "Trucks", trucks_path %>

<h2>Listes des évenements :</h2>

<table>
  <thead>
    <tr>
      <th>Is_stolen</th>
      <th>Fuel level</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Created at</th>
    </tr>
  </thead>

  <tbody>
    <% @truckInfos.each do |truckInfo| %>
      <tr>
        <td><%= truckInfo.is_stolen %></td>
        <td><%= truckInfo.fuel_level %>%</td>
        <td><%= truckInfo.lat %></td>
        <td><%= truckInfo.lon %></td>
        <td><%= truckInfo.created_at.strftime("%d/%m/%Y %H:%M") %></td>
    <% end %>
  </tbody>
</table>